<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="IB-Testing">
	<test name="AccountInformation" group-by-instances="true">
		<classes>
			<class name="accountinformation.factory.Factory_AccountStatement" />
			<class name="accountinformation.factory.Factory_AccountSummary" />
			<class name="accountinformation.factory.Factory_BalanceInquiry" />
		</classes>
	</test>
	<test name="BillPayment" group-by-instances="true">
		<classes>
			<class name="billpayment.factory.Factory_AsuransiSinarmas" />
			<class name="billpayment.factory.Factory_BaznasZakat" />
		</classes>
	</test>
	<test name="CardlessWithdrawal" group-by-instances="true">
		<classes>
			<class name="cardlesswithdrawal.factory.Factory_CardlessWithdrawal" />
		</classes>
	</test>
	<test name="FundTransfer" group-by-instances="true">
		<classes>
			<class name="fundtransfer.factory.Factory_TransferInbank" />
			<class name="fundtransfer.factory.Factory_TransferOtherbank" />
		</classes>
	</test>
	<test name="TimeDeposit" group-by-instances="true">
		<classes>
			<class name="timeDeposit.factory.Factory_TimeDeposit" />
		</classes>
	</test>
	<test name="TransactionHistory" group-by-instances="true">
		<classes>
			<class name="transactionhistory.factory.Factory_TransactionHistory" />
		</classes>
	</test>
</suite>
